{% load static %}
<link rel="stylesheet" href="{% static 'css/admin/navbar_admin.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">

<div class="sidebar">
    <!-- Logo -->


    <!-- Navigation Links -->
    <ul class="nav-links">
        <li class="{% if request.resolver_match.url_name == 'admin_dashboard' %}active{% endif %}">
            <a href="{% url 'admin_dashboard' %}">Dashboard</a>
        </li>
        <li class="{% if request.resolver_match.url_name == 'review_booking_courses' %}active{% endif %}">
            <a href="{% url 'review_booking_courses' %}">คอร์สเรียนแบบจอง</a>
        </li>
        <li class="{% if request.resolver_match.url_name == 'review_video_courses' %}active{% endif %}">
            <a href="{% url 'review_video_courses' %}">คอร์สเรียนแบบวิดีโอ</a>
        </li>
        <li class="{% if request.resolver_match.url_name == 'sales'  or request.resolver_match.url_name == 'booking_detail'  %}active{% endif %}">
            <a href="{% url 'sales' %}">การขาย</a>
        </li>
        <li class="{% if request.resolver_match.url_name == 'user_list'  %}active{% endif %}">
            <a href="{% url 'user_list' %}">รายชื่อ</a>
        </li>
        <li class="{% if request.resolver_match.url_name == 'banners_admin'  %}active{% endif %}">
            <a href="{% url 'banners_admin' %}">โฆษณา</a>
        </li>
    </ul>

    <div class="logout-container">
        <a href="{% url 'admin_logout' %}" class="logout-btn">
            <i class="fas fa-sign-out-alt"></i> ออกจากระบบ
        </a>
        
    </div>

</div>
