<!DOCTYPE html>
<html lang="th">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>บุคลากร</title>
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/staff.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Mali:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
</head>
<body>
    <!-- Navbar -->
    {% if request.user.is_authenticated %}
        {% include 'navbar.html' %}
    {% else %}
        {% include 'navbar_guest.html' %}
    {% endif %}

    <!-- Main Content -->
    <main class="staff-container">
        <h1 class="page-title">บุคลากร</h1>
        <div class="staff-grid">

            <div class="staff-card">
                <div class="staff-icon">
                    <img src="{{ staff.image.url }}" alt="{{ staff.name }}">
                </div>
                <p>{{ staff.subject }} โดย {{ staff.name }}</p>
            </div>

        </div>
    </main>
</body>
</html>
